
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
} 
h1,h2,h3,p{
    margin: 0;
}
a{
    text-decoration: none;
    color: currentColor;
}
button{
    cursor: pointer;
}
img{ 
    display: block;
    max-width: 100%;
    height: auto;
}
.header{
    display: flex;
    color: #2E363E;
    width: 1440px;
height: 92px;
}
.container-header{
    display: flex;
width: 153px;
height: 38px;
flex-direction: column;
justify-content: center;
}
.nav-menu-logo{
color: #5F0A61;

font-family: Reem Kufi;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 37.5px */
text-transform: uppercase;}
.nav-menu-item{
    color: var(--1, #2E363E);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 27px */
}
.contact-link{
    color: #5F0A61;

text-align: right;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 152%; /* 27.36px */
}